@using EventSharedExpenseTracker.MvC.Common
@using EventSharedExpenseTracker.MvC.ViewModels.Trips
@model TripDetailsParticipantsViewModel

@*EACH PARTICIPANT*@
<form asp-action="Edit"> @*so anitforgety validates otherwise 400*@
    <div id="@Model.EIdTripParticipants">
        <div class="container-fluid mt-2">
            <div class="row no-gutters">
                @foreach (var participant in Model.Participants)
                {
                    var cardBg = participant.IsDummy 
                        ? "bg-white border-info" 
                        : "bg-white";

                    <div class="col-auto p-0">
                        <div class="card shadow m-1 polaroid @cardBg" style="min-width: 5rem;">

                            @*<div class="card-body" ondblclick="return alert('You cant delete participant that has payments!');">*@
                            @*ALTERNATIVE not select, and target= body*@
                            <div class="card-body p-1"
                                 hx-post=@Url.Action("DeleteParticipant", "Trips", new { id = Model.TripId, participantId = participant.Id })
                                 hx-trigger="dblclick[canUserEditTrip()]"
                                 hx-select="#@Model.EIdTripParticipants"
                                 hx-target="#@Model.EIdTripParticipants"
                                 hx-swap="outerHTML"
                                 hx-confirm="@(participant.PaymentCount == 0 ? "Are you sure you want to delete Participant?" : "You cant delete participant that has payments")">

                                <h5 class="card-text text-black">
                                    @(participant.UserName)
                                    @if (participant.PaymentSum >=0)
                                    {
                                        <span class="text-success">
                                           <b> 
                                               @CurrencyFormatter.Format(
                                                participant.PaymentSum,
                                                Model.BaseCurrencyCode)
                                           </b>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">
                                            <b>
                                                @CurrencyFormatter.Format(
                                                participant.PaymentSum,
                                                Model.BaseCurrencyCode)
                                            </b>
                                        </span>
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<script>
    function canUserEditTrip() {
        return @Json.Serialize(Model.CanUserEdit);
    }
</script>
