@using EventSharedExpenseTracker.MvC.ViewModels.Expenses
@using EventSharedExpenseTracker.Domain.Enums
@using EventSharedExpenseTracker.MvC.Common

@model ExpenseIndexViewModel

@{
    Layout = null;
}

<div id="@Model.EIdExpenseCollection" onload="autoFocus()">
    <div class="row bg-dark sticky-top">
        <div class="col col-2 pe-1">
            @* ADD EXPENSE *@
            <button class="btn btn-sm btn-outline-warning w-100 h-100 rounded"
                    hx-get="@Url.Action("Create", "Expenses", new { tripId = Model.TripId })"
                    hx-target="#@Model.EIdCreateExpense">
                + Expense
            </button>
        </div>

        <div class="col ps-1">
            <div class="btn-group align-items-end bg-dark flex-wrap">
                @*SORT BY NAME*@
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.NameSortParam, searchString = Model.SearchString, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                        hx-target="#@Model.EIdExpenseCollection">
                    Name
                </button>
                @*SORT BY AMOUNT - sqlite not working*@
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.AmmSortParam, searchString = Model.SearchString, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                        hx-target="#@Model.EIdExpenseCollection">
                    Amount
                </button>
                @*SORT BY DATE*@
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.DateSortParam, searchString = Model.SearchString, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                        hx-target="#@Model.EIdExpenseCollection">
                    Date
                </button>
                @*FILTER BY CATEGORY*@
                <select id="categoryDropdown" class="btn btn-sm btn-outline-secondary" 
                        asp-for="CategoryFilter"
                        asp-items ="@Html.GetEnumSelectList<ExpenseCategory>()"
                        name="categoryFilter"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.CurrentSort, searchString = Model.SearchString, creator = Model.Creator })"
                        hx-target="#@Model.EIdExpenseCollection">
                    <option value="">Select Category</option>
                </select>
                @*FILTER BY CREATED BY USER*@
                <div id="expControls">
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary @(Model.Creator ? "active" : "")"
                            hx-get='@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.CurrentSort, searchString = Model.SearchString, creator = !Model.Creator, categoryFilter = Model.CategoryFilter })'
                            hx-target="#@Model.EIdExpenseCollection"
                            hx-swap="outerHTML">
                        CreatedByMe
                    </button>
                </div>
                @*SEARCH*@
                <input type="text" id="searchInput" name="searchString" autocomplete="off" placeholder="search expense" value="@Model.SearchString" class="btn btn-sm btn-outline-secondary bg-secondary-subtle"
                       hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.CurrentSort, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                       hx-target="#@Model.EIdExpenseCollection"
                       hx-trigger="keyup changed delay:500ms" 
                 />
            </div>
        </div>

    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" id="@Model.EIdCreateExpense">

        </li>

        @foreach (var expense in Model.Expenses)
        {
            <li class="list-group-item">
                <div id="@expense.EIdEditExpense"
                    hx-get="@Url.Action("Edit", "Expenses", new { tripId = Model.TripId, id = expense.Id })"
                    hx-trigger="dblclick once">

                    <div class="row">
                        <div class="col">
                            <h5>
                                @(expense.Name)
                                <small class="text-white-50">&nbsp;&nbsp;&nbsp;@(expense.Category)</small>
                            </h5>
                        </div>

                        <div class="col text-end">
                            <i class="text-muted">@(expense.Date.ToShortDateString())</i>
                            @*<i class="text-muted">@($"Created by: {expense.Creator?.CustomUserName}")</i>*@
                        </div>
                    </div>

                    <div class="mb-2">
                        <b>@CurrencyFormatter.Format(expense.TotalPaid,Model.BaseCurrencyCode)</b>
                        @*<b>@(expense.TotalPaid.ToString("C"))</b>*@
                        <i class="text-white-50">
                            -
                            @foreach (var payment in expense.PaidPayments)
                            {
                                <span class="border border-light-subtle rounded bg-dark text-white-50">
                                    @payment.ParticipantName
                                </span>
                                @*<span>@payment.Amount.ToString("C2")</span>*@
                            }
                        </i><br>
                    </div>
                    <i class="text-white-50">
                        <small>
                            @foreach (var payment in expense.OwedPayments)
                            {
                                <span class="border border-light-subtle rounded bg-danger-subtle text-white-50">
                                    @payment.ParticipantName
                                </span>
                                <span>@CurrencyFormatter.Format(payment.Amount, Model.BaseCurrencyCode)</span>
                                @*<span>@payment.Amount.ToString("C2")</span>*@
                            }
                        </small>
                    </i>
                </div>
            </li>
        }
    </ul>
</div>
