@using EventSharedExpenseTracker.MvC.ViewModels.Expenses
@model ExpenseIndexViewModel

@{
    Layout = null;
    var currentURL = Context.Request.Path.ToString().ToLower();
    /*int userId = int.TryParse(User.FindFirstValue("CustomUserId"), out int tempUserId) ? tempUserId : -1;
    var creatorIsChecked = (bool)(ViewBag.Creator ?? false);
    var creatorNextChecked = !creatorIsChecked;*/    
}

<div id="expCollection" onload="autoFocus()">
    <div class="row bg-dark sticky-top">
        <div class="col col-2 pe-1">
            @* ADD EXPENSE *@
            @if (currentURL.Contains("/trips"))
            {
                <button class="btn btn-sm btn-outline-warning w-100 h-100 rounded"
                        hx-get="@Url.Action("Create", "Expenses", new { tripId = Model.TripId })"
                        hx-target="#createExpense">
                    + Expense
                </button>
            }
        </div>

        <div class="col ps-1">
            <div class="btn-group align-items-end bg-dark flex-wrap">
                @*SORT BY NAME*@
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.NameSortParam, searchString = Model.SearchString, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                        hx-target="#expCollection">
                    Name
                </button>
                @*SORT BY AMOUNT - sqlite not working*@
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.AmmSortParam, searchString = Model.SearchString, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                        hx-target="#expCollection">
                    Amount
                </button>
                @*SORT BY DATE*@
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.DateSortParam, searchString = Model.SearchString, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                        hx-target="#expCollection">
                    Date
                </button>
                @*FILTER BY CATEGORY*@
                <select id="categoryDropdown" name="categoryFilter" class="btn btn-sm btn-outline-secondary"
                        hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.CurrentSort, searchString = Model.SearchString, creator = Model.Creator })"
                        hx-target="#expCollection">

                    <option value="">@(Model.CategoryFilter == null ? "Select Category" : Model.CategoryFilter)</option>
                    @foreach (var category in Expense.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                    <option value="">None</option>
                </select>
                @*FILTER BY CREATED BY USER*@
                <div id="expControls">
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary @(Model.Creator ? "active" : "")"
                            hx-get='@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.CurrentSort, searchString = Model.SearchString, creator = !Model.Creator, categoryFilter = Model.CategoryFilter })'
                            hx-target="#expCollection"
                            hx-swap="outerHTML">
                        CreatedByMe
                    </button>
                </div>
                @*SEARCH*@
                <input type="text" id="searchInput" name="searchString" autocomplete="off" placeholder="search expense" value="@Model.SearchString" class="btn btn-sm btn-outline-secondary bg-secondary-subtle"
                       hx-get="@Url.Action("Index", "Expenses", new { tripId = Model.TripId, sortOrder = Model.CurrentSort, creator = Model.Creator, categoryFilter = Model.CategoryFilter })"
                       hx-target="#expCollection"
                       hx-trigger="keyup changed delay:500ms" 
                 />
            </div>
        </div>

    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" id="createExpense">

        </li>

        @foreach (var expense in Model.Expenses)
        {
            var paidPayments = expense.Payments.Where(p => !p.IsOwed).ToList();
            var owedPayments = expense.Payments.Where(p => p.IsOwed).ToList();

            var expenseSum = paidPayments.Sum(p => p.Amount);

            <li class="list-group-item">
                <div id="expense@(expense.Id)"
                    hx-get="@Url.Action("Edit", "Expenses", new { tripId = Model.TripId, id = expense.Id })"
                    hx-trigger="dblclick once">

                    <div class="row">
                        <div class="col">
                            <h5>
                                @(expense.Name)
                                <small class="text-white-50">&nbsp;&nbsp;&nbsp;@(expense.Category)</small>
                            </h5>
                        </div>

                        <div class="col text-end">
                            <i class="text-muted">@(expense.Date.ToShortDateString())</i>
                            @*<i class="text-muted">@($"Created by: {expense.Creator?.CustomUserName}")</i>*@
                        </div>
                    </div>

                    <div class="mb-2">
                        <b>@(expenseSum.ToString("C"))</b>
                        <i class="text-white-50">
                            -
                            @foreach (var payment in paidPayments)
                            {
                                <span class="border border-light-subtle rounded bg-dark text-white-50">
                                    @payment.ParticipantName
                                </span>
                                @*<span>@payment.Amount.ToString("C2")</span>*@
                            }
                        </i><br>
                    </div>
                    <i class="text-white-50">
                        <small>
                            @foreach (var payment in owedPayments)
                            {
                                <span class="border border-light-subtle rounded bg-danger-subtle text-white-50">
                                    @payment.ParticipantName
                                </span>
                                <span>@payment.Amount.ToString("C2")</span>
                            }
                        </small>
                    </i>
                </div>
            </li>
        }
    </ul>
</div>
